// Primary Colors
$primary-red: #E07C7C;

// Secondary Colors
$secondary-purple: #585292;
$secondary-white: #f5f5f5;

// Background Colors
$bg-main: #D0D0D9;

// Texts
$text-main: #2E2E2E;
$text-primary: #EBB9B8;
$text-white: #FFFFFF;

// Others
$bg-progress: #3B3B3B;
$task-border: #e0e0e0;
$task-completed: #a0a0a0;
$task-input-placeholder: #a0a0a0;